.App {
  text-align: center;
}

.header {
  font-size: 20px;
  padding: 1em 1.25em;
  display: flex;
}

.header-left {
  flex: 6;
}

.header-right {
  flex: 4;
  overflow: hidden;

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.userId {
  max-width: 160px;
  overflow: hidden;
}
.listMenu {
  list-style: none;
  display: flex;
}

.listMenu > li {
  display: flex;
  flex: 1;
}

.data-container {
  display: flex;
  justify-content: space-between;
}

.spaced-button {
  background: transparent;
  border: 2px solid #c5c5c5;
  border-radius: 12px;
  color: lightgreen;
  padding: 0.4em 1em;
  margin: 0.5em;
  cursor: pointer;
}
.spaced-button[disabled] {
  color: #333;
  border-color: #333;
}

.spaced-button:hover {
  background-color: rgb(13, 88, 138);
  color: white;
}

.spaced-button:active {
  outline: none;
}

.button-group {
  margin: 0.5em 1em;
}

#canvas > svg {
  box-shadow: 2px 2px 1px #444, -2px -2px 1px #443;
}
