.App {
  text-align: center;
}

.header {
  font-size: 20px;
  padding: 1em 1.25em;
  display: flex;
}

.header-left {
  flex: 8;
}

.header-right {
  flex: 1;
  overflow: hidden;
}

.listMenu {
  list-style: none;
  display: flex;
}

.listMenu > li {
  display: flex;
  flex: 1;
}

.data-container {
  display: flex;
  justify-content: space-between;
}

.spaced-button {
  margin-left: 1em;
  margin-top: 0.5em;
  color: #e4e4e4;
  background-color: lightblue;
  border: none;
  font-size: 1.3em;
}

.canvas {
  box-shadow: 2px 2px 1px #444, -2px -2px 1px #443;
}
